# Virtual environments
.venv/
.service/
env/
venv/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Database & local vector stores
chroma_db/
.chroma/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables & secrets
.env
